<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/admin.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Admin Dashboard</title>
</head>
<body>
  <header>
    <div class="top-nav">
      <div class="logo">
        <h1>Kids Kastle</h1>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search'></i>
      </div>
      <div class="profile-logout">
       
        <a href="/admin/logout" class="logout-btn">Logout</a>
      </div>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="/admin/adminDashboard" class="active"><i class='bx bx-home'></i> Dashboard</a></li>
      <li><a href="/admin/userManagement"><i class='bx bx-user'></i> User Management</a></li>
      <li><a href="/admin/category"><i class='bx bx-category'></i> Category</a></li>
      <li><a href="/admin/products"><i class='bx bx-box'></i> Products</a></li>
      <li><a href="/admin/orders"><i class='bx bx-cart'></i> Orders</a></li>
      <li><a href="/admin/coupon"><i class='bx bx-gift'></i> coupon</a></li>
      <li><a href="/sales-report"><i class='bx bx-line-chart'></i> Sales Report</a></li>
      <li><a href="/banner"><i class='bx bx-image'></i> Banner</a></li>
      <li><a href="/chat"><i class='bx bx-chat'></i> Chat</a></li>
      <li><a href="/analytics"><i class='bx bx-bar-chart-alt-2'></i> Analytics</a></li>
      <li><a href="/notifications"><i class='bx bx-bell'></i> Notifications</a></li>
      <li><a href="/settings"><i class='bx bx-cog'></i> Settings</a></li>
    </ul>
  </nav>

</body>
</html>




