
/* Product details styles */
.product-details {
  display: flex;
  padding: 20px;
  background-color: #FFECCF;
  max-width: 1200px;
  margin: 0 auto;
}

.product-gallery {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.thumbnails img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.thumbnails img:hover {
  border: 1px solid #333;
}

.main-image {
  position: relative;
  overflow: hidden;
}

.main-image img {
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.main-image:hover img {
  transform: scale(1.2); /* Zoom effect */
}

.product-info {
  flex: 1;
}

.product-info h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.price-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.price {
  font-size: 1.5em;
  color: #333;
  margin-right: 10px;
}

.free-delivery p {
  margin: 0;
  color: #388e3c;
  font-size: 1em;
}

.ratings {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ratings span {
  font-size: 1.2em;
  color: #fbc02d;
  margin-right: 10px;
}

.actions {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.actions button {
  background-color: #9D51FF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.actions button:hover {
  background-color: #7d3ccf;
}

.product-description {
  margin-top: 20px;
}

.product-description h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product-description p {
  font-size: 1em;
  color: #666;
}
