

/* Fixed Filter Navbar */
.filter-navbar {
  position: fixed; /* Make the filter navbar fixed */
  top: 70px; /* Adjust to be below the main navbar */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FFECCF;
  border-bottom: 1px solid #ccc;
  z-index: 999; /* Ensure it sits below the main navbar */
}

/* Filter navbar styling */
.filter-navbar h3 {
  font-size: 1em;
  margin-right: 20px;
  color: #333;
}

.filter-navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.filter-navbar ul li {
  margin-right: 15px;
}

.filter-navbar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
  padding: 5px 10px;
  background-color: #9D51FF;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-navbar ul li a:hover {
  background-color: #9D51FF;
  color: #fff;
}

/* Main Content Area */
.main-content {
  margin-top: 120px; /* Adjust for the combined height of both navbars */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Responsive Design */
@media (max-width: 768px) {
  .filter-navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-navbar ul {
    flex-wrap: wrap;
  }

  .main-content {
    margin-top: 160px; /* Adjust for the combined height of both navbars */
  }
}

/* Product Section */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin-top: 160px; /* Adjust for the height of the fixed navbars */
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  position: relative; /* Add this line */
}

.product-image-container {
  position: relative;
  cursor: pointer;
}

.product img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  color: #f34906;
  cursor: pointer;
  transition: color 0.3s ease;
}

.heart-icon:hover {
  color: #9D51FF;
}

.product h3 {
  font-size: 1.5em;
  margin: 5px 0;
  color: #333;
}

.product p {
  color: #666;
  font-size: 1em;
  margin: 5px 0;
}
