
body {
    font-family: Arial, sans-serif;
    background-image: url('/image/w.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    opacity: 70%;
  
    margin-bottom: 20px;
    text-align: left;
}

.form-group input {
    
    width: 92%; 
    padding: 10px;
    border: 1px solid #120909;
    border-radius: 4px;
     
}

button {
    width: 100%; 
    padding: 10px;
    background-color: #9D51FF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #7d3bcc; 
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
