
  
  .wishlist-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensure equal spacing between items */
    gap: 20px; /* Add space between products */
    padding: 20px;
  }
  .product {
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    position: relative; /* Add this line */
  }
  
  .product-image-container {
    position: relative;
    cursor: pointer;
  }
  
  
  
  .product img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
  }
  
  .heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: #f34906;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .heart-icon:hover {
    color: #9D51FF;
  }
  
  .product h3 {
    font-size: 1.5em;
    margin: 5px 0;
    color: #333;
  }
  
  .product p {
    color: #666;
    font-size: 1em;
    margin: 5px 0;
  }
  